.attribution { 
    font-size: 11px; 
    text-align: center; 
}

.attribution a { 
    color: hsl(53, 100%, 24%); 
}

body {
    font-family: figtree, sans-serif;
    background-color: hsl(47, 88%, 63%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 98vh;
    position: relative;
}

main {
    background-color: hsl(0, 0%, 100%);
    border-radius: 1.25rem;
    padding: 1.4375rem;
    display: grid;
    gap: 1.5rem;
    width: 336px;
    border: 1px solid hsl(0, 0%, 7%);
    box-shadow: 8px 8px 0 hsl(0, 0%, 7%);
    margin-bottom: 2rem;
}

.main-img {
    max-width: 100%;
    border-radius: .625rem;
}

.category {
    background-color: hsl(47, 88%, 63%);
    font-weight: 800;
    padding: .25rem .75rem;
    line-height: 150%;
    display: inline-block;
    margin: 0;
    font-size: .875rem;
    border-radius: .25rem;
    color: hsl(0, 0%, 7%)
}

h1 {
    font-size: 1.5rem;
    line-height: 150%;
    color: hsl(0, 0%, 7%);
    margin: 0;
}

h1:hover {
    color: hsl(47, 88%, 63%);
    cursor: pointer;
}

.date {
    font-weight: 400;
    font-size: .875rem;
    color: hsl(0, 0%, 7%);
    margin: 0;
 }

.author p {
    margin: 0;
    font-weight: 800;
    font-size: .875rem;
}

.author img {
    width: 2rem;
    height: 2rem;
}

article > p:last-of-type {
    color: hsl(0, 0%, 42%);
    line-height: 150%;
    font-size: 1rem;
    margin: 0;
}

.author {
    display: flex;
    align-items: center;
    gap: .75rem;
    margin: 0;
    width: 21rem;
}

article {
    display: grid;
    gap: .75rem;
    justify-items: start;
    width: 21rem;
}

footer {
    position: absolute;
    bottom: 2rem;
    display: flex;
    gap: 1rem;
    text-align: center;
}

footer p {
    margin: 0;
    font-size: 0.8rem;
    font-weight: 300;
}

@media (max-width: 420px) {
    main {
        width: 90%;
        padding: 1rem;
    }

    article, .author {
        width: 100%;
    }

    body {
        padding: 1.5rem;
    }

    footer {
        flex-direction: column;
        bottom: 1rem;
    }
}
